body {
    text-align: center;
    background: linear-gradient(to bottom, #32CD32, #013220);
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

h1 {
    margin-top: 20px;
    color: #d6336c;
}

canvas {
    background-color: #98fb98;
    border: 2px solid #008000;
    margin-top: 20px;
}

.hidden {
    display: none;
}